#ZSH
*.zwc
*.zwc.old
*zcompdump*
*.zsh_history
*.zcompdump
*.zsh_sessions
*._zinit
.directory_history
.venv

#Browsers
*.sqlite
.config/discord/*

#GH
.config/gh/hosts.yml

#Redundant
'.config/Code - OSS/*'
.config/Deskflow/*
.config/Microsoft/*
.config/go/*
.config/heroic/*
.config/obs-studio/*
.config/session/*
.config/teams/*
.config/unity3d/*
.config/QtProject
.config/baloo*
.config/code-flags.conf
.config/dolphinrc
.config/obsidian/*
.config/waybar/layouts/backup/*
.config/Bitwarden/*
.config/cfg_backups/*
.config/hyde/themes/*
.config/kde.org/*
