#ZSH
*.zwc
*.zwc.old
*zcompdump*
*.zsh_history
*.zcompdump
*.zsh_sessions
*._zinit
.directory_history
.venv

#Vim
.config/nvim/lazy-lock.json

#Browsers
*.sqlite
.config/discord/*

#GH
.config/gh/hosts.yml

#Redundant
'.config/Code - OSS/*'
.config/Code - OSS/*
.config/Deskflow/*
.config/Microsoft/*
.config/go/*
.config/heroic/*
.config/obs-studio/*
.config/session/*
.config/teams/*
.config/teams-for-linux/*
.config/unity3d/*
.config/QtProject
.config/baloo*
.config/code-flags.conf
.config/dolphinrc
.config/obsidian/*
.config/waybar/layouts/backup/*
.config/Bitwarden/*
.config/cfg_backups/*
.config/hyde/themes/*
.config/kde.org/*

.config/QtProject.conf
.config/arkrc
.config/news-flash/*
.config/qBittorrent/*
.config/retroarch/*
.config/rpcs3/*
.config/.mozilla/*
.config/droidcam
.config/libreoffice/*
.config/kdeconnect/*
.config/kolourpaintrc
.config/rustdesk/*
.config/sunshine/*
.config/GIMP/
.config/autostart/bitwarden.desktop
.config/autostart/localsend_app.desktop
.config/balenaEtcher/
.config/kiorc
.config/parallel/tmp/sshlogin/archlinux/
.config/systemd/immich-machine-learning.container
.config/tool_state

.ssh/id_*
.ssh/known_hosts.old

