# [Desktop Entry]
# Type=Application
# Name=Vesktop
# Comment=Vesktop autostart script
# Exec=/usr/lib/vesktop/vesktop --start-minimized
# StartupNotify=false
# Terminal=false
# Icon=vesktop
