## Settings file was created by plugin Proper Save v3.0.4
## Plugin GUID: com.KingEnderBrine.ProperSave

[Main]

## Store files in Steam/EpicGames cloud. Enabling this feature would not preserve current saves and disabling it wouldn't clear the cloud.
# Setting type: Boolean
# Default value: false
UseCloudStorage = false

## Sub directory name for cloud storage. Changing it allows to use different save files for different mod profiles.
# Setting type: String
# Default value: 
CloudStorageSubDirectory = 

## Directory where save files will be stored. "ProperSave" directory will be created in the directory you have specified. If the directory doesn't exist the default one will be used.
# Setting type: String
# Default value: 
SavesDirectory = 

## Save file type. True - entries from catalogs will be saved by name instead of index, which should have less issue on mod list change, but has bigger save file size. False - the old way, entries from catalogs are saved by index, which works for non-changing mod list, save file size is much lower.
# Setting type: Boolean
# Default value: true
Resilient = true

