## Settings file was created by plugin LookingGlass v1.15.2
## Plugin GUID: droppod.lookingglass

[Auto Sort Items]

## Where scrap should be sorted
# Setting type: ScrapSortMode
# Default value: Start
# Acceptable values: Off, Start, End
Scrap Sorting = Start

## Sorts by Tier
# Setting type: TierSortMode
# Default value: Tier
# Acceptable values: Off, Tier, TierIgnoringAcquiredOrder
Tier Sort = Tier

## How the tiers should be ordered
# Setting type: String
# Default value: Lunar FoodTier VoidBoss Boss VoidTier3 Tier3 VoidTier2 Tier2 VoidTier1 Tier1 NoTier
Tier Order = Lunar VoidBoss Boss VoidTier3 Tier3 VoidTier2 Tier2 VoidTier1 Tier1 NoTier

## Considers void tiers to be the same as their normal counterparts
# Setting type: Boolean
# Default value: false
Combine Normal And Void Tiers = false

## Sorts by Stack Size
# Setting type: StackSortType
# Default value: Largest_Smallest
# Acceptable values: Off, Largest_Smallest, Smallest_Largest
Stack Size Sort = Largest_Smallest

## Sorts quality items from ItemQualities mod
## 
## "Grouped" keeps all versions of a given item together, similar to the mod's own grouping
## "Separated" separates out qualities, similar to tier sorting
# Setting type: QualitySortType
# Default value: Grouped
# Acceptable values: Off, Grouped, Separated
Sort Quality Items = Grouped

## How qualities from ItemQualities mod should be ordered if quality sorting is on
# Setting type: QualitySortOrder
# Default value: RareToCommon
# Acceptable values: Off, RareToCommon, CommonToRare
Quality Items Order = RareToCommon

## Sorts Command menus by stack count or alphabetically.
## 
## 
# Setting type: CommandSortType
# Default value: Off
# Acceptable values: Off, Largest_Smallest, Smallest_Largest, A_Z, Z_A
Command Sorting = Off

## Sorts Scrapper by stack count or alphetically.
## 
## MatchHud will automatically use tier sorting and stacking sorting of the regular hud.
# Setting type: ScrapperSortType
# Default value: MatchHud
# Acceptable values: Off, MatchHud, Largest_Smallest, Smallest_Largest, A_Z, Z_A
Scrapper Sorting = MatchHud

## Sorts Scrapper by tier
# Setting type: Boolean
# Default value: true
Sort Scrapper by Tier = true

## Sorts Void Potentials & Aurelionite Fragments according to Scrapper rules.
# Setting type: Boolean
# Default value: false
Sort Potentials & Fragments = false

## Sort items on the game over screen & run reports.
# Setting type: Boolean
# Default value: false
Sort Death Screen Items = false

## Sort items in the Wandering Chef or any crafting station, according to scrapper rules (alphabetical sorting not supported). 
## 
## All items that cannot be used in any crafting recipe sorted to the bottom
# Setting type: Boolean
# Default value: true
Sort Crafting Menu = true

Descending Stack Size Sort = true

Sort Command Menu = false

Command Menu Descending = true

Sort Scrapper by stack = false

Scrapper Descending = true

Sort Command Menu Alphabetically = false

Command Menu Alphabetically Descending = true

Sort Scrapper Alphabetically = false

Scrapper Alphabetically Descending = true

Sort Death Screen & Monster Items = false

[Buff Info]

## Enables buff timers. These are not networked in the base game, please install NetworkedTimedBuffs if you want clients to see them aswell.
# Setting type: Boolean
# Default value: true
Buff Timers = true

## Display buff timers with 1 decimal. 1.4 instead of rounding up to 2.
# Setting type: Boolean
# Default value: true
Buff Timers Decimal = true

## Changes the font size of buff timers
# Setting type: Single
# Default value: 80
Buff Timers Font Size = 80

## Gives descriptions to buffs (All vanilla by default, modded buffs need to be setup)
# Setting type: Boolean
# Default value: true
Buff Descriptions = true

## Changes the font size of buff descriptions
# Setting type: Single
# Default value: 100
Buff Font Size = 100

[Command Settings]

## Disable the background blur effect from the command window
# Setting type: Boolean
# Default value: false
Disable Command Window Blur = false

## Makes any keyboard input other than [Interact] close command/ scrapper / potential / etc. menus.
## 
## Doesn't work with controllers because you wouldn't be able to use the menu.
# Setting type: Boolean
# Default value: true
Input Disables Command Prompt = true

## Shows how many items you have in the command and other pickup menus
# Setting type: Boolean
# Default value: true
Command Item Count = true

## Hides the item count if you have none of an item
# Setting type: Boolean
# Default value: false
Hide Count If Zero = false

## Shows tooltips in the command and other pickup menus
# Setting type: Boolean
# Default value: true
Command Tooltips = true

## Shows when items have been corrupted
# Setting type: Boolean
# Default value: true
Show Corrupted Items = true

## Resizes the command window to fit modded items
# Setting type: Boolean
# Default value: true
Resize Command Window = true

## Changes the Opacity of the regular command window
# Setting type: Single
# Default value: 80
Command Window Opacity = 50

Sort Craftable Items = true

[Item Counters]

## The main item counters will count both permanent and temporary items.
# Setting type: Boolean
# Default value: false
Include Temp Items In Item Counter Totals = false

## Counts your temp item total separately
# Setting type: Boolean
# Default value: true
Temp Item Total Counter = true

## Adds tiered item counters to the scoreboard next to the total item counter.
# Setting type: Boolean
# Default value: true
Tiered Item Counters = true

## Counts your temp items in the scoreboard separately by rarity
# Setting type: Boolean
# Default value: false
Temp Item Counters By Rarity = false

[Misc]

## Shows full item descriptions on mouseover
# Setting type: Boolean
# Default value: true
Full Description in Hud = true

## Gives calculations for vanilla items and modded items which have added specific support. (Sadly, items are not designed in a way to allow this to be automatic)
# Setting type: Boolean
# Default value: true
Item Stats Calculations = true

## Shows full item/equipment/drone descriptions on pickup or purchase
# Setting type: Boolean
# Default value: false
Full Descriptions On Pickup = false

## Shows item descriptions when you ping an item in the world, shop or pinter
# Setting type: Boolean
# Default value: true
Item Stats On Ping = true

## Shows drone descriptions when you ping a drone in the world or shop
# Setting type: Boolean
# Default value: true
Drone Info On Ping = true

## Shows item and drone descriptions when another player pings an item/drone in the world
# Setting type: Boolean
# Default value: false
Stats On Ping By Other Player = false

## Shows item descriptions for hidden items in Multishops.
# Setting type: Boolean
# Default value: false
Stats on pinging hidden items = false

## Changes the font size of item stats
# Setting type: Single
# Default value: 100
Item Stats Font Size = 100

## Caps displayed chances at 100%. May interact weirdly with luck if turned off
# Setting type: Boolean
# Default value: true
Cap Chance Percentage = true

## Shows ability cooldowns.
## Show ability proc coefficients on supported survivors
# Setting type: Boolean
# Default value: true
Ability Proc Coefficients = true

## Shows item proc chances multiplied by the proc coefficient of the ability, in the abilities info box.
# Setting type: Boolean
# Default value: true
Ability Item Procs = true

## Makes the cooldown indicator for the equip slot permanent and not just when you have 0 stock.
# Setting type: Boolean
# Default value: true
Permanent Cooldown Indicator For Equip = true

## Makes the cooldown indicator for skills permanent and not just when you have 0 stock.
# Setting type: Boolean
# Default value: true
Permanent Cooldown Indicator For Skills = true

## Hovering over ally cards shows info if they are a Drone.
# Setting type: Boolean
# Default value: true
Ally Info = true

## Disable item pickup notifications
# Setting type: Boolean
# Default value: false
Disable Pickup Notifications = false

## Duration of pickup notifications. 6s is the vanilla duration
# Setting type: Single
# Default value: 6
Pickup Notifications Duration = 6

## Makes normally hidden items visible. (Drizzle/MonsoonHelper)
# Setting type: Boolean
# Default value: false
Unhide Internal Items = false

## Makes normally hidden buffs visible.
# Setting type: Boolean
# Default value: false
Unhide Internal Buffs = false

## Disables DPS & Combo & Kill tracking.
## 
## Incase you are not interested in these features & stats and are looking for optimization.
# Setting type: Boolean
# Default value: false
Disable Damage tracking = false

## Duration during which Combos & DPS is added together
# Setting type: Single
# Default value: 5
DPS Tracking Duration = 5

Item Stats = true

Show Hidden Items = false

Item Counters = true

Temp Item Counters By Rarity = false

Temp Item Total Counter = true

Include Temp Items In Item Counter Totals = false

Unhide Hidden Items = false

Full Item Description On Pickup = false

Item Stats On Ping By Other Player = false

[Stats]

## Override the stat display with the updated one, if you were using the default one prior to updating.
## Not meant as a config just needs to be tracked.
# Setting type: Boolean
# Default value: true
Check For Old Default Settings v2 = false

## What are you gonna do, cheat the number?
# Setting type: Single
# Default value: 0
Max Combo = 1.668708E+08

## What are you gonna do, cheat the number?
# Setting type: UInt64
# Default value: 0
Max Kill Combo = 262

[Stats Display]

## Enables Stats Display in various cases.
## 
## -Same stats regardless of scoreboard
## 
## -Tab stats on scoreboard for 2 different stat displays
## 
## -Only show when Scoreboard is open
## 
## -Only show when scoreboard is open and hide everything else when it is open. (In case other mods decide to use that space, to avoid the clutter)
# Setting type: StatsDisplayEnum
# Default value: Different_On_Tab
# Acceptable values: Off, Same_On_Both, Different_On_Tab, Only_Show_On_Main, Only_Show_On_Tab, Show_Only_Stats_On_Tab
Stats Display = Different_On_Tab

## String for the stats display. You can customize this with Unity Rich Text if you want, see 
##  https://docs.unity3d.com/Packages/com.unity.textmeshpro@4.0/manual/RichText.html for more info. 
## Available syntax for the [] stuff is:
## 
##  damage 
##  attackSpeed, attackSpeedPercent 
##  crit, critWithLuck, critMultiplier
##  bleedChance, bleedChanceWithLuck
##  maxHealth, maxShield, maxBarrier 
##  hpAddPercent, healthAddPercent, shieldAddPercent
##  effectiveHealth, effectiveMaxHealth
##  shieldFraction, barrierDecayRate
##  healthPercentage
##  regen, regenHp, regenRaw
##  armor, armorDamageReduction
##  curseHealthReduction 
##  hasOSP 
##  damagePercent, damagePercentWithWatch
##  maxHpPercent, maxHealthStat, maxShieldStat
##  speed, speedPercent, speedPercentSprintAffected
##  velocity, acceleration 
##  availableJumps, maxJumps
##  jumpPower, maxJumpHeight
##  level, experience 
##  luck 
##  mountainShrines 
##  portals, shopPortal, goldPortal, msPortal, voidPortal, greenPortal
##  difficultyCoefficient, stage
##  ping
## 
##  killCount, killCountRun 
##  dps, percentDps 
##  combo, maxComboThisRun, maxCombo
##  killCombo, maxKillComboThisRun, maxKillCombo
##  remainingComboDuration
## 
##  teddyBearBlockChance, saferSpacesCD 
##  instaKillChance 
## 
##  lvl1_damage, lvl1_maxHealth
# Setting type: String
# Default value: <margin-left=0.6em><size=115%>Stats</size>\nDamage: [damage]\nAttack Speed: [attackSpeed]\nCrit Chance: [critWithLuck]\nRegen: [regen]\nArmor: [armor] | [armorDamageReduction]\nSpeed: [speed]\nJumps: [availableJumps] / [maxJumps]\nKills: [killCount]\nDPS: [dps]\nCombo: [combo]\n</margin>
Stats Display String = <margin-left=0.6em><size=115%>Stats</size>\nDamage: [damage]\nAttack Speed: [attackSpeed]\nCrit Chance: [critWithLuck]\nRegen: [regen]\nArmor: [armor] | [armorDamageReduction]\nSpeed: [speed]\nJumps: [availableJumps] / [maxJumps]\nKills: [killCount]\nDPS: [dps]\nCombo: [combo]\n</margin>

## General font size of the stats display menu.
## 
## If set to -1, it will be sized relative to the Objective Header and Objectives. 13.5 on the default hud.
# Setting type: Single
# Default value: -1
Stats Display font size = -1

## The interval at which stats display updates, in seconds. Lower values will increase responsiveness, but may potentially affect performance for large texts
## 
## Values below 0.2 are not recommended for normal play for performance reasons.
## 
## 
# Setting type: Single
# Default value: 0.25
Stats Display update interval = 0.2

## Uses the default styling for stats display syntax items.
# Setting type: Boolean
# Default value: true
Use default colors = true

## Sets a user-specified height for Stats Display (may be necessary if you get particularly creative with formatting)
# Setting type: Boolean
# Default value: false
Override Stats Display Height = false

## Height, in lines of full-size text, for the Stats Display panel
# Setting type: Int32
# Default value: 7
Stats Display Height Value = 7

## How many decimal points will be used in floating point values
# Setting type: Int32
# Default value: 2
StatsDisplay Float Precision = 2

## Secondary string for the stats display. You can customize this with Unity Rich Text if you want, see 
##  https://docs.unity3d.com/Packages/com.unity.textmeshpro@4.0/manual/RichText.html for more info. 
## Available syntax for the [] stuff is: 
## 
##  damage 
##  attackSpeed, attackSpeedPercent 
##  crit, critWithLuck, critMultiplier
##  bleedChance, bleedChanceWithLuck
##  maxHealth, maxShield, maxBarrier 
##  hpAddPercent, healthAddPercent, shieldAddPercent
##  effectiveHealth, effectiveMaxHealth
##  shieldFraction, barrierDecayRate
##  healthPercentage
##  regen, regenHp, regenRaw
##  armor, armorDamageReduction
##  curseHealthReduction 
##  hasOSP 
##  damagePercent, damagePercentWithWatch
##  maxHpPercent, maxHealthStat, maxShieldStat
##  speed, speedPercent, speedPercentSprintAffected
##  velocity, acceleration 
##  availableJumps, maxJumps
##  jumpPower, maxJumpHeight
##  level, experience 
##  luck 
##  mountainShrines 
##  portals, shopPortal, goldPortal, msPortal, voidPortal, greenPortal
##  difficultyCoefficient, stage
##  ping
## 
##  killCount, killCountRun 
##  dps, percentDps 
##  combo, maxComboThisRun, maxCombo
##  killCombo, maxKillComboThisRun, maxKillCombo
##  remainingComboDuration
## 
##  teddyBearBlockChance, saferSpacesCD 
##  instaKillChance 
## 
##  lvl1_damage, lvl1_maxHealth
# Setting type: String
# Default value: <margin-left=0.6em><size=115%>Stats</size>\nDamage: [damage]\nAttack Speed: [attackSpeed]\nCrit Chance: [critWithLuck]\nBleed Chance: [bleedChanceWithLuck]\nRegen: [regen]\nArmor: [armor] | [armorDamageReduction]\nSpeed: [speed]\nJumps: [availableJumps] / [maxJumps]\nTotal Kills: [killCountRun]\nMax Combo: [maxComboThisRun]\nMountain Shrines: [mountainShrines]\nPortals: [portals] \n</margin>
Secondary Stats Display String = <margin-left=0.6em><size=115%>Stats</size>\nDamage: [damage]\nAttack Speed: [attackSpeed]\nCrit Chance: [critWithLuck]\nBleed Chance: [bleedChanceWithLuck]\nRegen: [regen]\nArmor: [armor] | [armorDamageReduction]\nSpeed: [speed]\nJumps: [availableJumps] / [maxJumps]\nTotal Kills: [killCountRun]\nMax Combo: [maxComboThisRun]\nMountain Shrines: [mountainShrines]\nPortals: [portals] \n</margin>

## If enabled, will be attached to below the objective panel, otherwise position can be configured
# Setting type: Boolean
# Default value: true
Attach To Objective Panel = true

## Position of detached Stats Display.
## [Default: 1810, 1015]
# Setting type: Vector2
# Default value: {"x":1810.0,"y":1015.0}
Stats Display Position = {"x":1810.0,"y":1015.0}

## Override current Stat Display settings with a premade preset.Further changes can made from there.
## 
## Extra: More stats on Tab
## 
## Simpler: Dont include DPS, Combo
## 
## Minimal: DPS + Jump, Few stats on Tab for mathing or remembering.
## 
## 
# Setting type: StatDisplayPreset
# Default value: Set
# Acceptable values: Set, LookingGlass, Simpler, Extra, Extra_For_OnlyStats, Minimal, Old
Preset = Set

## Move purchase text further to the left to avoid clipping with larger Stat Displays, Evolution Inventory, Objectives, etc..
# Setting type: Boolean
# Default value: true
Move Purchase Text = true

StatsDisplay = true

Use Secondary Stats Display = true

Only open with Scoreboard = false

Stats Display Preset = Set

