## Settings file was created by plugin ActuallyFaster v1.1.4
## Plugin GUID: Felda.ActuallyFaster

[Actually Faster]

## Should the scrapper go brrrrrt?
# Setting type: Boolean
# Default value: true
Scrapper brrrrrt = true

## Should the printer go brrrrrt?
# Setting type: Boolean
# Default value: true
Printer brrrrrt = true

## Should the chance shrine go brrrrrt?
# Setting type: Boolean
# Default value: true
Chance Shrine brrrrrt = true

## Original is 2.0
# Setting type: Single
# Default value: 0.1
Chance Shrine refreshTimer brrrrrt = 0.1

## Should the blood shrine go brrrrrt?
# Setting type: Boolean
# Default value: true
Blood Shrine brrrrrt = true

## Original is 2.0
# Setting type: Single
# Default value: 0.1
Blood Shrine refreshTimer brrrrrt = 0.1

## Should the wood shrine go brrrrrt?
# Setting type: Boolean
# Default value: true
Wood Shrine brrrrrt = true

## Original is 2.0
# Setting type: Single
# Default value: 0.1
Wood Shrine refreshTimer brrrrrt = 0.1

## Should the cauldrons go brrrrrt?
# Setting type: Boolean
# Default value: true
Cauldron brrrrrt = true

## Should the cleansing pool go brrrrrt?
# Setting type: Boolean
# Default value: true
Cleansing Pool brrrrrt = true

## Should the chests go brrrrrt?
# Setting type: Boolean
# Default value: true
Chest drop brrrrrt = true

