## Settings file was created by plugin LostAndFound v1.2.0
## Plugin GUID: Pudwinks.LostAndFound

[General]

## Set to true if you want to see newt altars in the recap. Default is false to avoid potential spoilers.
# Setting type: Boolean
# Default value: false
Show newt altars = false

## Set to true if you want to see items on the ground in the recap. If you forgot to pick something up, it'll show up. Does not show void items.
# Setting type: Boolean
# Default value: true
Show items on ground = true

## Set to true if you want to see lunar pods in the recap.
# Setting type: Boolean
# Default value: false
Show lunar pods = false

## Set to true if you want to see white and green 3D printers in the recap. Setting this to false will only hide white and green printers, since they are the most common. Red and boss printers remain visible regardless of this setting.
# Setting type: Boolean
# Default value: true
Show white/green 3D printers = true

## Set to true if you want to see drones in the recap. TC-280 drone always shows up regardless of this setting. Because it's a cool drone.
# Setting type: Boolean
# Default value: true
Show drones = true

## Set to true if you want to see drone scrappers in the recap.
# Setting type: Boolean
# Default value: false
Show drone scrappers = false

## Set to true if you want to see barrels in the recap.
# Setting type: Boolean
# Default value: false
Show barrels = false

## Set to true if you want to see container contents in the recap.
# Setting type: Boolean
# Default value: true
Show container contents = true

## Set to true if you want to see the contents of Encrusted Caches (corrupted form of the Rusted Key lockbox). Irrelevant if "Show container contents" is false.
# Setting type: Boolean
# Default value: true
Show Encrusted Cache contents = true

[Keybinds]

## Which key to use to show the next interactable in the recap.
# Setting type: KeyboardShortcut
# Default value: Mouse0
Next interactable = Mouse0

## Which key to use to show the previous interactable in the recap.
# Setting type: KeyboardShortcut
# Default value: Mouse1
Previous interactable = Mouse1

## Which key to use to zoom out the camera in the recap.
# Setting type: KeyboardShortcut
# Default value: A
Zoom out = A

## Which key to use to zoom in the camera in the recap.
# Setting type: KeyboardShortcut
# Default value: D
Zoom in = D

## Which key to use to finish the recap once it's started.
# Setting type: KeyboardShortcut
# Default value: S
Finish recap = S

